<div class="dashboard">
  <div id="line1">
    <div class="team">
      <div class="name">{{teamName[0]}}</div>
      <div class="link">{{links[0]}}</div>
      <div>{{phoneNumbers[0]}}</div>
      <div><img src={{images[0]}}></div>
    </div>
    <div class="team">
      <div class="name">{{teamName[1]}}</div>
      <div class="link">{{links[1]}}</div>
      <div>{{phoneNumbers[1]}}</div>
      <div><img src={{images[1]}}></div>
    </div>
    <div class="team">
      <div class="name">{{teamName[2]}}</div>
      <div class="link">{{links[2]}}</div>
      <div>{{phoneNumbers[2]}}</div>
      <div><img src={{images[2]}}></div>
    </div>
  </div>
  <div id="line2">
    <div class="team">
      <div class="name">{{teamName[3]}}</div>
      <div class="link">{{links[3]}}</div>
      <div>{{phoneNumbers[3]}}</div>
      <div><img src={{images[3]}}></div>
    </div>
    <div class="team">
      <div class="name">{{teamName[4]}}</div>
      <div class="link">{{links[4]}}</div>
      <div>{{phoneNumbers[4]}}</div>
      <div><img src={{images[4]}}></div>
    </div>
    <div class="team">
      <div class="name">{{teamName[5]}}</div>
      <div class="link">{{links[5]}}</div>
      <div>{{phoneNumbers[5]}}</div>
      <div><img src={{images[5]}}></div>
    </div>
  </div>
  <footer>
    <p>Made with venkata Rajesh<p></p>
  </footer>
</div>
